@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
body{
    background-color: #5451A6;
    font-family: 'Poppins', sans-serif;
}
.heading{
    text-align: center;
    color: #fff;
    margin-top: 15%;
    margin-bottom: 10%;
    font-weight: bold;
}
.dob{
    text-align: center;
}
.luckyno{
    text-align: center;
}
.birthday{
    text-align: center;
}
